body{
    background-color: black;
    font-family: 'Poppins', sans-serif;
    width:90%;
}
#parent1{
    display: flex;
    justify-content: space-between;
}
.child1{
    display: flex;
    gap:20px;
}
#parent1 a{
    text-decoration: none;
}
.child1 input{
    background-color: black;
    border: 1px solid grey;
    height: 35px;
    position: relative;
    top: 5px;
    width: 500px;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    color:rgb(170, 167, 167);
    font-size: 20px;
}
.child1 button{
    background-color: rgb(39, 38, 38);
    height: 40px;
    position: relative;
    top: 5px;
    right:20px;
    width:60px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 20px;
}
#signin{
    border-radius:20px;
    background-color: black;
    border: 1px solid grey;
    width:100px;
    margin-left: 10px;
    height:35px;
    font-size: 15px;
}
@media screen and (max-width:1100px){
    #search_bar{
        display: none;
    }
}
#parent2{
    display: grid;
    grid-template-columns: 2fr 8fr;
    position: relative;
    top:60px;
    left:10px;
}
#parent21 a{
    text-decoration: none;
}
.links:hover{
    background-color: grey;
    border-radius: 5px;
}
.links{
    padding-left: 5px;
}
#parent21{
    display: flex;
    flex-direction: column;
    position: fixed;
}
#parent21>div{
    margin-top: 10px;
}
#parent21 #signin{
    position: relative;
    top:10px;
    right:10px;
}
#parent22{
    position: relative;
    left:250px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:30px;
}
.videodescription{
    display: flex;
    justify-content: flex-start;
}
.video a{
    text-decoration: none;
    color:white;
    font-size: 15px;
}
.videodescription img{
    height: 30px;
}
.videodemo img{
    height: 180px;
    width: 275px;
} 
.videodescription .d1{
    height: 100px;
    width:225px;
    margin-left: 5px;
}
@media screen and (max-width:1200px) and (min-width:901px){
    #parent22{
        grid-template-columns: repeat(3,1fr);
        gap:10px 20px;
    }
}
@media screen and (max-width:900px){
    #parent21{
        display:none;
    }
    #parent22{
        grid-template-columns: repeat(2,1fr);
        gap:100px 75px;
        position: static;
    }
    .video a{
        font-size: 25px;
    }
    .video{
        margin-bottom: 20px;
    }
    .videodemo img{
        height: 225px;
        width: 400px;
    }
    .videodescription .d1{
        height: 100px;
        width:350px;
        margin-left: 5px;
    }
    .videodescription img{
        height: 60px;
    }
}
#parent0{
    position: fixed;
    width:100%;
    z-index: 10;
    background-color: black;
    height:50px;
}
.video{
    margin-top: 10px;
}
#icon{
    position: relative;
    top:8px;
    left:20px;
}
#mike{
    margin-left: 5px;
    border-radius: 20px;
    width:40px;
    height:40px;
}
#signin{
    position: relative;
    right:30px;
    top: 5px;
}
@media screen and (max-width:500px){
    #parent22{
        grid-template-columns: 1fr;
        gap:100px 75px;
        position: static;
    }
    .video a{
        font-size: 25px;
    }
    .video{
        margin-bottom: 20px;
    }
    .videodemo img{
        height: 300px;
        width: 450px;
    }
    .videodescription .d1{
        height: 100px;
        width:400px;
        margin-left: 5px;
    }
    .videodescription img{
        height: 60px;
    }
}